html,body{
    /* background-image: url('/assect/img/image_processing20200615-8984-whu1h7.jpg'); */
background-image: url('https://thumbs.dreamstime.com/z/mosque-islamic-flat-icon-design-element-clipart-224124050.jpg');
    background-position: center;
}
.header{
    background: rgba(46, 204, 113);
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 60px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
#Main{
    
    margin-top: 5%;
}
#Datepicker{
    width: 200px;
    height: 35px;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    /* background: greenyellow; */
}
.lbl{
    color: green;
    font-size: 30px;
}
.table-success {
    border-radius: 10px;
}
img{
    height: 60px
}
h1{
    display: inline-block;
}
#CurrentDate{
    background: transparent;
    border: none;
    font-size: 30px;
    color: white;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  #MyTable{
      display: none;
      padding-left: 110px;
    padding-top: 25px;
  }
  tr{
    font-size: 20px;
  }